.container {
  width: 600px;
  padding: 10px 15px;
  margin: 0px auto;
}
.content {
  margin: 0px 15px;
}
#status {
  margin: 10px 0px;
  color: #666;
  font-size: 15px;
  font-weight: 300;
  font-family: Helvetica;
}
.input {
  display: block;
  padding: 10px 0px;
  &.checkboxes {
    padding-top: 5px;
  }
  &.buttons {
    border-top: 1px solid #cfcfcf;
    button {
      font-size: 13px;
      padding: 10px 15px;
      background-color: white;
      border: 1px solid #aaa;
    }
  }
  label {
    display: block;
    padding: 7px 0px;
    font-size: 15px;
    font-weight: 300;
    font-family: Helvetica;
    &.checkbox {
      padding: 2px 0px;
      input {
        &[type=checkbox] {
          display: inline-block;
          font-size: 16px;
        }
      }
    }
  }

  textarea {
    width: 100%;
    max-width: 600px;
    height: 100px;
    border: 1px #cFcFcF solid;
  }

  select {
    font-size: 13px;
    font-weight: 300;
    font-family: Helvetica;
    padding: 7px 30px 7px 10px;
    background-color: white;
    border-radius: 0px;
    border-color: #cfcfcf;
    -webkit-appearance: none;
  }
}
.help-block {
  white-space: pre-line;
  display: none;
}
